.Collections{
    width: 100%;
    height: 1040px;
    background-color: #E6E3C4;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.CollectionsCont{
    display: flex;
    margin-bottom: 40px;
}

.CollInfo{
    display: flex;
    flex-direction: column;
}

.CollLine{
    width: 1100px;
    height: 1px;
    background-color: #998431;
}

.CollLine:first-child{
    margin-bottom: 60px;
}

.CollInfo span:first-child{
    color: black;
    font-family: montserratRegular;
    font-size: 16px;
    margin-bottom: 30px;
}

.CollInfo span:nth-child(2){
    font-size: 36px;
    font-family: PlayfairBold;
    color: #282828;

}

.CollInfo span:nth-child(3){
    font-size: 36px;
    font-family: PlayfairBold;
    margin-bottom: 30px;
    color: #282828;

}

.CollInfo .Line{
    background-color: #282828;
    margin-bottom: 30px;
}

.CollTxt{
    width: 445px;
    margin-bottom: 30px;
}

.VineYear{
    width: 75px;
    height: 75px;
    border-right: solid 1px black;
    line-height: 75px;
    text-align: center;
    font-family: montserratRegular;
}

.CollTable, .CollTableLast{
    display: flex;
}

.CollTable{
    border-bottom: 1px solid black;
}

.VineName{
    width: 370px;
    height: 75px;
    padding-left: 30px;
    padding-top: 10px;
}

.VineName span:first-child{
    font-family: PlayfairBold;
    font-size: 18px;
    margin-bottom: 5px;
}

.VineName span:nth-child(2){
    font-family: montserratRegular;
    font-size: 14px;
}

.CollInfo .CollTxt:nth-child(9){
    margin-top: 30px;
    margin-bottom: 30px;
}

.CollButton{
    width: 250px;
    height: 50px;
    background-color: #998431;
    margin-bottom: 60px;
    line-height: 50px;
    text-align: center;
    color: white;
    font-family: montserratRegular;
    font-size: 16px;
    cursor: pointer;
}

.CollImages{
    margin-left: 125px;
}

.CollImagesCont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.CollInfo div:nth-child(3){
    border: 0px;
}

.CollTableLast div{
    border-bottom: 0px;
}